tr
    td
        table(width="100%" cellpadding="0" cellspacing="0" style="background-color: #473F97; padding: 25px 15px;")
            tbody
                tr
                    td(style="text-align: center;")
                        p(style="font-size: 14px; margin: 0 auto; color: #FFFFFF; font-family: 'Open Sans', sans-serif; font-weight: 400;")
                            span(style="font-weight: 600;") For support, contact: &nbsp;
                            a(href="" style="color: #FFFFFF; text-decoration: none;") cmsadmin@cmstesting.co.uk
