doctype html
html.no-js(lang="en")
    head
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet")
        title Odessey
    body(style="margin: 0; padding: 0;")
        table.main-body(align="center" cellspacing="0" cellpadding="0" style="max-width: 650px;")
            tbody
                // Banner Start
                tr
                    td
                        table(width="100%" cellpadding="0" cellspacing="0")
                            tbody
                                tr
                                    td(style="display: flex;")
                                        img(src=`${line_logo}` alt="line" style="margin: 0 auto; max-width: 650px")
                                tr(style="display: flex; margin-top: 30px;")
                                    td(style="display: inline-block; padding: 0 10px; width: 100%")
                                        a(href="#" target="_blank" style="text-decoration: none; display: flex; text-align: center; margin-top: 15px;")
                                            img(src=`${logo}` alt="logo" style="vertical-align: middle; width: auto !important; max-width: 650px; margin: 0 auto;")
                                tr
                                    td(style="display: inline-block; text-align: center; margin: 15px 0; width: 100%")
                                        img(src=`${banner_logo}` alt="banner" style="vertical-align: middle; margin: 0 auto;")
                // Banner End
                // Welcome Start
                tr
                    td
                        table(width="100%" cellpadding="0" cellspacing="0")
                            tbody
                                tr
                                    td(style="text-align: center;")
                                        p(style="font-size: 24px; margin: 0; padding: 20px 0; color: #000; font-family: 'Open Sans', sans-serif; font-weight: 700;")
                                            | Welcome to Team Odessey
                // Welcome End